li {
  list-style: none; }

/* =====> POPUP ACCOUNT CLICK <===== */
/* The actual popup */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  text-align: right; }
  .popup .popuptext {
    visibility: hidden;
    width: 15%;
    background-color: #fff;
    border: solid 1px #d5d5d5;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -80px;
    right: 0;
    margin-left: -80px; }
    .popup .popuptext > a {
      color: #525252;
      text-decoration: none; }

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* =====> END: POPUP ACCOUNT CLICK <===== */
/* =====> TABLE STYLE <===== */
.content {
  width: 80%; }
  .content > .select_container, .content .button_container {
    width: 10%;
    display: inline-block;
    margin-bottom: 30px; }

.sortable {
  border-collapse: separate;
  border-spacing: 0px; }
  .sortable > thead {
    background-color: #1F2739;
    color: #0084ec;
    font-size: 18px;
    font-weight: bold;
    border: none; }
    .sortable > thead > tr {
      text-align: left; }
      .sortable > thead > tr > th {
        padding: 20px;
        border: none;
        cursor: pointer;
        -webkit-transition: color 1s; }
        .sortable > thead > tr > th:hover {
          color: green; }
  .sortable > tbody > tr:nth-child(odd) {
    background: #434972;
    color: #d5d5d5; }
  .sortable > tbody > tr:nth-child(even) {
    background: #525252;
    color: #d5d5d5; }
  .sortable > tbody > tr > td {
    text-align: left;
    border: solid 1px #1F2739;
    padding: 20px; }
    .sortable > tbody > tr > td > a {
      text-decoration: none;
      color: white; }
      .sortable > tbody > tr > td > a:hover {
        text-decoration: underline;
        color: blue; }
    .sortable > tbody > tr > td:hover {
      background: yellow;
      transform: translate3d(5px, 5px, 5px);
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
      color: #434972;
      box-shadow: -1px -1px #7b7b00, -2px -2px #7b7b00, -3px -3px #7b7b00, -4px -4px #7b7b00, -5px -5px #7b7b00; }

/* =====> END: TABLE STYLE <===== */
/* =====> BUTTONS for display tables <===== */
.buttons-container {
  border: solid 1px;
  border-radius: 5px; }
  .buttons-container > ul {
    padding: 0;
    border-bottom: solid 1px;
    padding-bottom: 20px; }
    .buttons-container > ul > li {
      display: inline-block;
      margin-left: 30px;
      cursor: pointer;
      color: blue; }
      .buttons-container > ul > li > p {
        font-size: 25px;
        margin: 0; }

/* =====> END: BUTTONS for display tables <===== */
/* =====> CONTAINER with SERVICE and USER info <===== */
.service-info .user-info, .service-info .img-service {
  display: inline-block;
  width: 48%;
  vertical-align: middle; }
.service-info .img-service {
  text-align: right; }
.service-info .user-info {
  text-align: left; }
  .service-info .user-info > tbody > tr {
    line-height: 30px; }
    .service-info .user-info > tbody > tr > th {
      padding-right: 30px; }

/* =====> END: CONTAINER with SERVICE and USER info <===== */

/*# sourceMappingURL=style.css.map */
