li {
	list-style: none;
}

$greyBlue: #434972;
$black: #1F2739;
$darkBlue: #0084ec;
$whiteGrey: #d5d5d5;
$darkGrey: #525252;

/* =====> POPUP ACCOUNT CLICK <===== */

/* The actual popup */
.popup { 
	position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: right;
	.popuptext {
	    visibility: hidden;
	    width: 15%;
	    background-color: #fff;
	    border: solid 1px $whiteGrey;
	    text-align: center;
	    border-radius: 6px;
	    padding: 8px 0;
	    position: absolute;
	    z-index: 1;
	    bottom: -115px;
	    right: 0;
	    margin-left: -80px;
	    & > a {
	    	color: $darkGrey;
	    	text-decoration: none;
	    }
	}
}
/* Toggle this class - hide and show the popup */
.popup { 
	.show {
	    visibility: visible;
	    -webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;
	}
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/* =====> END: POPUP ACCOUNT CLICK <===== */


/* =====> TABLE STYLE <===== */

.content {
	width: 80%;

	& > .select_container, .button_container {
		width: 10%;
		display: inline-block;
		margin-bottom: 30px;
	}
}

.sortable {
	border-collapse: separate;
    border-spacing: 0px;
	& > thead {
		background-color: $black;
    	color: $darkBlue;
    	font-size: 18px;
    	font-weight: bold;
    	border: none;
		& > tr {
			text-align: left;
			& > th {
				padding: 20px;
				border: none;
				cursor: pointer;
				-webkit-transition: color 1s;
				&:hover {
					color: green;
				}
			}
		}
	}

	& > tbody {
		& > tr {
			&:nth-child(odd) {
				background: $greyBlue;
				color: $whiteGrey;
			}

			&:nth-child(even) {
				background: $darkGrey;
				color: $whiteGrey;
			}

			& > td {
				text-align: left;
				border: solid 1px $black;
				padding: 20px;
				& > a {
					text-decoration: none;
					color: white;
					&:hover {
						text-decoration: underline;
						color: blue;
					}
				}
				&:hover {
					background: yellow;
					transform: translate3d(5px, 5px, 5px);
					transition-duration: 1s;
					-webkit-transition-duration: 1s;
					color: $greyBlue;
					box-shadow: -1px -1px #7b7b00,
					-2px -2px #7b7b00,
					-3px -3px #7b7b00,
					-4px -4px #7b7b00,
					-5px -5px #7b7b00;
				}
			}
		}
	}
}


/* =====> END: TABLE STYLE <===== */




/* =====> BUTTONS for display tables <===== */

.buttons-container {
	border: solid 1px;
	border-radius: 5px;
	.buttons-click {
		padding: 0;
		border-bottom: solid 1px;
		padding-bottom: 20px;
		& > li {
			display: inline-block;
			margin-left: 30px;
			cursor: pointer;
			color: blue;
			& > p {
				font-size: 25px;
				margin: 0;
			}
		}
	}
}

/* =====> END: BUTTONS for display tables <===== */





/* =====> CONTAINER with SERVICE and USER info <===== */

.service-info {
	.user-info, .img-service  {
		display: inline-block;
		width: 48%;
		vertical-align: middle;
	}
	.img-service {
		text-align: right;
	}
	.user-info {
		text-align: left;
		& > tbody {
			& > tr {
				line-height: 30px;
				& > th {
				padding-right: 30px;
				}
			}
		}
	}
}

/* =====> END: CONTAINER with SERVICE and USER info <===== */


.account-info {
	border-right: solid 1px;
	padding-bottom: 40px;
}

.change-password, .account-info {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}